.color {
  color: black;
  font-size: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.keyTitle {
  background-color: rgb(221, 222, 227);
  padding: 10px;
  color: black;
  font-weight: 700;
  width: 100%;
  text-align: center;
  width: 40%;
}

.main {
  width: 100%;
  height: fit-content;
  background-color: white;
}

.backContainer {
  display: flex;
  width: 80%;
  color: black;
  justify-content: flex-end;
}

.logoSpace {
  height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  appearance: none;
  border: none;
  background-color: rgb(254, 190, 104);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-right: 25px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 8px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.buttonContainer {
  width: 200px;
}

.thirdSection {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}
.titleSmall {
  color: black;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}
.space {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.titleMed {
  color: black;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.focusTitle {
  cursor: pointer;
  color: black;
  font-size: 30px;
  font-weight: 300;
  width: 50%;
  padding: 20px;
  text-align: center;
  transition: all ease-in 0.3s;
}

.focusTitle:hover {
  color: black;
  background-color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.focusTitleGray {
  cursor: pointer;
  color: black;
  background-color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: 300;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.keyPointTitle {
  color: black;
  font-size: 19px;
  padding: 10px;
  font-weight: 300;
  text-align: center;
}

.copierContainer {
  display: flex;
  height: 60%;
    justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.paragraphContainer {
  width: 50%;
}

.smaller {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.paragraph {
  color: black;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  padding: 5px;
  font-weight: 200; 
}
.Overview {
  color: black;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 1.5px;
  padding: 40px;
  margin-top: 16px;
}

.lineColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphSmall {
  color: black;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 300;
}

.bulletContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.bullet {
  background-color: black;
  color: transparent;
  height: 13px;
  width: 13px;

  display: inline-block;
  font-size: 0.8em;
  margin: 10px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.logo {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.specsContainer {
  padding: 10px;
  cursor: pointer;
  border: 1px rgb(219, 221, 233) solid;
}
.specsContainer:hover {
  background-color: rgb(245, 245, 245);
  transition: all ease-in 0.3s;
}
.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
.phoneNumber {
  background-color: transparent;
  outline: none;
  color: rgb(117, 117, 117);
  border: none;
  border-bottom: 1px black solid;
  width: 100%;
  font-size: 20px;
}
.phoneNumber:focus {
  border: none;
}

.inputSingle {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 1px black solid;
}
.specsContainerDark {
  cursor: pointer;
  padding: 10px;
  border: 1px rgb(219, 221, 233) solid;
  background-color: rgb(245, 245, 245);
}

.bottomContainer {
  border: 1px rgb(219, 221, 233) solid;
  height: 120%;
  width: 80%;
}
.thirty {
  width: 30%;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 90%;
}
.titleMid{
  color: black;
  font-size: 25px;
  text-align: center;
}
.box{
  width: 250px;
  border-radius: 10px;
  height: 250px;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rowBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 77%;
}
.section div {
  color: rgb(85, 85, 85);
}
.bigTitle{
  font-size: 35px;
  margin: 10px;
  color: black;
  text-align: center;
}
.aboutRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  padding: 10px;
  width: 100%;
}

.keyRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photoBox {
  width: 800px;
  height: 350px;
  background-color: white;
}
.spaceEven {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.secondSection {
  height: 53vh;
  background-color: gray;
}
.section {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  width: 80vw;
}

.lexmark {
  background-image: url("/static/Lexmark.webp");
  height: 40vh;
  width: 30vw;
  margin: 15px;
  background-position: center;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.konika {
  background-image: url("/static/Konika.jpg");
  height: 52vh;
  width: 30vw;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.black {
  color: black;
}

.epson {
  background-image: url("/static/epson.jpg");
  height: 40vh;
  width: 20vw;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.logoSpaceContainer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1.5px;
  width: 100%;
  background-color: rgb(218, 221, 233);
}

.keyLine {
  height: 1.5px;
  width: 100%;
  background-color: rgb(218, 221, 233);
}

.centerLine {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.infoSmall {
  color: black;
  font-size: 17px;
}

.infoMedium {
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.infoBig {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(245, 247, 248);
  height: 58vh;
  width: 30vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bottomProductContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}
.konikaBottom{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

@media (width < 1200px) {
  .keyPointTitle {
    font-size: 16px;
  }
}

@media (width < 1050px) {
  .keyPointTitle {
    font-size: 16px;
  }
  .row {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .Overview {
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-top: 16px;
    padding: 0px;
  }
  .paragraphSmall {
    font-size: 15px;
  }
  .rowBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
  }
  .bottomContainer {
    width: 120%;
  }
  .section {
    width: 90%;
  }
  .thirty {
    width: 45%;
  }
}

@media (max-width: 750px) {
  .konika {
    height: 36vh;
  }
  .epson {
    height: 14vh;
    width: 26vw;
  }
  .row {
    width: 100%;
  }
  .bulletContainer {
    padding: 8px;
  }
}
@media (max-width: 650px) {
  .columnContainer {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
  .bottomProductContainer{
    width: 95%;
  }
  .paragraph{
    font-size: 20px;
  }
  .title{
    font-size: 20px;
  }
  .row{
    flex-direction: column;
  }
  .bigTitle{
    font-size: 30px;
  }

  .logoSpace {
    width: 95%;
    justify-content: space-around;
  }
  .container {
    width: 85vw;
  }
}

@media (max-width: 550px) {
  .focusTitle {
    font-size: 23px;
  }
  .focusTitleGray {
    font-size: 23px;
  }
  .focusTitle:hover {
    color: black;
    background-color: rgb(245, 245, 245);
    font-size: 23px;
    font-weight: 300;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
  }
  .button {
    font-size: 13px;
    width: 80%;
  }
}
